@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Rowdies:wght@700&display=swap");

.headingRight,
.headingLeft {
  font-family: "Rowdies", cursive;
  font-size: 2.5rem;
  color: #172a3a;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

/* Avatar animation */
@keyframes slideIn {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
}

.leftImage {
  animation: slideIn 3s ease-in-out infinite;
}

.rightImage {
  animation: slideIn 3s ease-in-out infinite;
}
