@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

.Footer {
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  color: #fe5f55;
}

.Footer a {
  text-decoration: underline;
  color: #fe5f55;
}

